/* reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    line-height: 1; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

q, blockquote {
    quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
    border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/*style for container */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
    background-image: url("../images/Anime-of-Winter-2016.jpg");

    min-height: 100%;
    height: auto;
}
body  {
    font-family:Helvetica, Serif;
    font-size: 1rem;
    line-height: 160%;
    *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    color: #475b62;
    text-shadow: 1px 1px rgb(255,255,255);
}
a {
    color: #e60042;
    font-family: Bree Serif, serif;
}

h1{
    color: #e60042;
    font-size: 2.2rem;
    line-height: 100%;
    margin-bottom: 10px;
}

h2{
    font-size: 1.5rem;
    line-height: 90%;
    color: #c61c6f;
}

h3{
    margin-top: 0;
    color: #bd3613;
    line-height: 110%;
    margin-bottom: 5px;
}

p {
    line-height: 1.3rem;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Merriweather';
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}

/* Search Styles */
input::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
}
input::-moz-placeholder {
    color: rgba(255,255,255,.5);
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: rgba(255,255,255,.5);
}
input:-ms-input-placeholder {
    color: rgba(255,255,255,.5);
}
.search {
    background: #f23d70; /* Old browsers */
    color: #EEE8D5;
    width: 90%;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px 30px;
    z-index: 20;
}

.search h1 {
    color: #EEE8D5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f26d93;
    color: #FCF4DC;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn .btn-left {
    float: left;
}

.btn .btn-right {
    float: right;
}

.btn:hover {
    background: #e60042;
}

.search label {
    display: none;
}

.search input {
    margin-bottom:10px;
    font-family: 'Droid Sans', sans-serif;
    width: 100%;
    padding: 10px 0 10px 15px;
    font-size: 1rem;
    color: #000;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    outline: 0;
}

.search .formgroup input {
    border: 1px solid rgba(0,0,0,0.3);
    display: inline;
    width: auto;
}

.search label.formgroup {
    display: inline;
    width: auto;
}

.search select {
    display: inline;
    padding: 10px 0 10px 15px;
    font-size: 1rem;
    color: #000;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,0,0,0.3);
    border-radius: 10px;
    outline: 0;
}

/* Animation List Styles */

.animelist {
    background: #EEE8D5;
    width: 50%;
    min-width: 290px;
    max-width:350px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 0 0 20px 20px;
    opacity: .95;
    z-index: 10;
}

.animelist ul {
    margin: 0;
    padding: 0;
    background: #FDF6E3;
}

.animelist li {
    margin: 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px dotted black;
    opacity: .9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.animelist a {
    display: block;
    text-decoration: none;
}

.animelist li:hover {
    background: #FDF6E3;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.anime img {
    display: block;
    float: left;
    width: 60px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.anime info {
    display: block;
    float: left;
    padding-left: 120px !important;
}

.anime:last-child {
    border-bottom:none;
}

.animeinfo {
    font-size: 1.1em;
    line-height: 160%;
    background: #EEE8D5;
    color: #0F4150;
    width: 90%;
    min-width: 320px;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 20;
}

.animeinfo h1{
    font-size: 1.8em;
    margin-bottom: 0;
}

.animeinfo img {
    width: 40%;
    max-width: 130px;
    border-radius: 20px;
}

.anime.ng-enter.ng-enter-active,
.anime.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.anime.ng-leave.ng-leave-active,
.anime.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}